<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,300i,400,400i,600,600i,700i" rel="stylesheet">
	<link rel="stylesheet" href="static/hotelWebsiteCSS.css">
	<title>Aruba | Gallery </title>
</head>
<body>


<!--  Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Login</h2>
    </div>
    <div class="modal-body">
	<form>
	<!-- Login form -->
		<input class="login-input" type = "email" name = "Email" placeholder ="Email Address"/> 
		<br>
		<input class="login-input" type = "password" name = "Password" placeholder ="Password"/> 
	</form>
    </div>
    <div style="text-align: center;" class="modal-footer">
	<!--- submit button for login -->
      <input class="booking-btn" type = "submit" value = "Log In" >
    </div>
  </div>
</div>

<!-- Navigation Bar starts here-->
<div>
	<!-- Aruba logo / website logo-->
	<a href="/"><img style="margin-top: 18px; float: left !important; height: 27px; width: 75px; margin-left: 20px;" src="static/aruba-logo.png" alt = "Aruba Logo"></a>
		<div class="topnav" id="myTopnav">
		<!-- when clicked, activates login form modal -->
			<a class="btn" id="myBtn" href="#">Log In</a>
			<a href="location">Location</a>
			<a href="reviews">Reviews</a>
			<a href="booking"> Make Booking</a>
			<a href="rooms">Our Villas</a>
			<a href="gallery">Gallery</a>
			<!-- Navigation icon -->
			<a href="javascript:void(0);" style="font-size:22px;" class="icon" onclick="myFunction()">&#9776;</a>
		</div>
</div>
<!-- navigation bar ends here -->


<h2> View our Gallery </h2>
<!-- Top image gallery linked to javascript type carousel -->
<div>
  <img class="mySlides" src="static/poolDay.jpg" alt = "Pool During the Day" style="height: 700px; width:100%">
  <img class="mySlides" src="static/poolNight.jpg" alt = "Pool Night" style="height: 700px; width:100%">
  <img class="mySlides" src="static/poolside.jpg" alt = "Outside" style="height: 700px; width:100%">
  <img class="mySlides" src="static/poolOutside.jpg" alt = "Outside" style="height: 700px; width:100%">
</div>


<!-- Images in gallery styled to block form -->
<div style="margin-bottom: 500px;"> 
	<div style="margin-right:  10%; margin-left: 10%;">


		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/yoga.jpg" alt="Yoga" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Yoga next to the pool</p></div>
		</div>
	
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/bathroom.jpg" alt="Bathroom" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Outdoor showers right by the foot of your bed</p></div>
		</div>
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/bathtub.jpg" alt="bath" width="300" height="200">
			</a>
		<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Enjoy a day in the spa.</p></div>
		</div>
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/poolDay.jpg" alt="pool" width="300" height="200">
			</a>
		<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Swim and relax during the day</p></div>
		</div>
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/poolOutside.jpg" alt="pool outside" width="300" height="200">
			</a>
		<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Your own Luxury Pool</p></div>
		</div>
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/poolNight.jpg" alt="pool at night" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Swim and Relax at night</p></div>
		</div>
		
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/masterBedroom.jpg" alt="master bedroom" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Your Master Suite</p></div>
		</div>
		
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="#">
				<img src="static/bathroomBath.jpg" alt="Bathroom #2" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Private Bathroom Facilities</p></div>
		</div>
		
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="">
				<img src="static/yoga.jpg" alt="Yoga" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Relax with our complimentary Yoga class, with your own private instructor</p></div>
		</div>
		
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="">
				<img src="static/diningRoomNight.jpg" alt="Dining room" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Dine in with our luxury family sized dining room. All rooms come with a private chef</p></div>
		</div>
		
		
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="">
				<img src="static/kids.jpg" alt="Family" width="300" height="200">
			</a>
			<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Everyone is welcome, with Family designed villas</p></div>
		</div>
	
	
		<!-- gallery image -->
		<div class="gallery img_wrap">
			<a target="_blank" href="">
				<img src="static/poolside.jpg" alt="Poolside" width="300" height="200">
			</a>
		<!-- Image description -->
			<div class="img_description"><p class="img-desc-txt">Relax by the pool with our private loungers and drinks to your request</p></div>
		</div>
	</div>
</div>

	<!-- footer starts here --> 
<div>
	<div class="footer">
		<span class="footer-c"><a href="gallery">Gallery</a></span>
		<span class="footer-c"><a href="rooms"> Villas</a></span>
		<span class="footer-c"><a href="booking">Make Booking</a></span>
		<span class="footer-c"><a href="reviews">Reviews</a></span>
		<span class="footer-c"><a href="location">Location</a></span>
	</div>
</div>
<!-- footer ends here -->

<!-- JavaScript -->

<!-- Responsive Nav for mobile devices -->
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<!-- Javascript type carousel for image switching -->
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>


</body>
</html>